@import "variables";

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    max-width: 1080px;
  }
  a {
    color: #5b7083;
    transition: all .25s ease-in-out;
  }
   
  /* The description */
//   .desc {
//     font-size: 1em;
//     font-style: italic;
//     font-family: Georgia, serif;
//   } 

  /* Masonry grid */
  .masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
    // column-count: 3;
  }
  
  /* Masonry item */
  .masonry .brick {
    margin-bottom: 30px;
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
  }
  
  /* Masonry image effects */
  .masonry .brick img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden; /* Remove Image flickering on hover */
    width: 100%;
  }
  
  .masonry .brick:hover img {
    opacity: .75;
  }
  
  /* Bordered masonry */
  .masonry.bordered {
    column-rule: 1px solid $bordercolor;
    column-gap: 50px;
  }
  
  .masonry.bordered .brick {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $bordercolor;
  }

  #closeImage {
    width: 95%;
    justify-content: flex-end;
    svg {
      width: 15px;
      height: auto;
    }
  }

  #imageCard {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(203, 255, 225);
    justify-content: space-between;

    img {
      width: auto;
      height: auto;
      max-height: 650px;
      max-width: 50%;
    }

    
  }
  
  /* Masonry on tablets */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
      column-count: 2;
    }
  }
  
  /* Masonry on big screens */
  @media only screen and (min-width: 1024px) {
    .desc {
      font-size: 1.25em;
    }
  
    .intro {
      letter-spacing: 1px;
    }
  
    .masonry {
      column-count: 3;
    }
  }