
.ben {
    border-radius: 80%;
    border: outset red;
    // width: 90%;
    height: max-content;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

//need to add media for ben photo