//colour theme
$primaryColor: white;
$secondaryColor: black;
$themeColor: rgb(238, 35, 20);

//background
html{
    background: $primaryColor;
    // background: linear-gradient(0deg, rgba(255,255,255,1) 97%, rgba(208,203,203,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    font-family: "Courier New", monospace;
}

#root {
    text-align: center;
}

.navbar {
  background: $primaryColor;
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(208,203,203,1) 100%);
  overflow: hidden;
  position: fixed;
  // opacity: 0.75;
  top: 0;
  width: 100%;
  padding-right: 1%;
  padding-left: 1%;

  .link {
    float: right;
    display: block;
    color: $themeColor;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 18px;
  }

  .verticalLine {
    float: right;
    // display: block;
    text-align: center;
    margin: 8px 5px;
    text-decoration: none;
    font-size: 18px;
  }

  .logo {
    text-decoration: none;
    color: $themeColor;
    font-size: 20px;

    .artist {
      font-size: 12px;
    }
    b {
      font-size: 20px;
      color: $secondaryColor;
    }
  }

  span:hover {
    b {
      color: $themeColor;
      transition: 1.1s;
    }
  }
}

.link:hover {
    color: $secondaryColor;
    transition: 1.1s;
}

span {
    margin-top: 5px;
    float: left;
    // align-items: center;
}

path {
    font-size: 3em;
    color: red;
}


.main {
    padding-top: 5em;
}

article {
  text-align: left;
  h1 {
    font-size: 3em;
  }
  p {
    text-indent: 3em;
  }
}
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .footer {
    background-color: $primaryColor;
    color: $primaryColor;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  //Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primaryColor;
  background: linear-gradient(0deg, rgba(255,255,255,1) 97%, rgba(208,203,203,1) 100%);
  background-repeat: no-repeat;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  transition: 1.1s;
}